*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #ff10f3;
}

h2{
    margin: 16px;
}

.container{
    margin: 100px auto;
    padding: 32px;
    width: 50%;
}

.select-box{
    display: flex;
    width: 400px;
    margin: 0 auto;
    flex-direction: column;
}

.select-box .options-container{
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected{
    display: flex;
    justify-content: space-between;
    background-color: #2f3640;
    border-radius: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
}

.selected p{
    padding-top: 4px;
}

.selected img{
    transition: all 0.4s;
}

.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected img{
    transform: rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
    background: #525861;
    border-radius: 0 8px 8px 0;
}

 .select-box .option,
.selected{
    padding: 14px 24px;
    cursor:pointer;
}

.select-box .option:hover{
    background: #414b57;
}

.select-box label{
    cursor: pointer;
}

.select-box .option .radio{
    display: none;
} 
 
@media screen and (max-width:450px){

    .container{
        margin: 100px auto;
        width: 100%;
    }
    
    .select-box{
        margin: 0 auto;
        width:100%;
    }
    
}